.products{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:40px;
    position: relative;
    background-color: var(--primary-dark);
}

.products__header{

    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.products__header h2{
    font-size: 4.5vw;
    margin-bottom: 1.5vw;
    color: white;
}
.products__header__paragraph{
    width: 100%;
}
.products__header__paragraph p{
    opacity:0.7;
    text-align: center;
    font-size: 3vw;
    line-height: 3.5vw;
    color: white;
}

.products__content{
    display:flex;
    flex-direction: column;
}

.products__content__item{
    height: 200px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 7px 12px -4px rgba(46,74,117,0.44);
-moz-box-shadow: 3px 7px 12px -4px rgba(46,74,117,0.44);
box-shadow: 3px 7px 12px -4px rgba(46,74,117,0.44);
}

.products__content__item_desc{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products__content__item_desc p{
    text-align: center;
    font-size: 3.2vw;
    line-height: 3.4vw;
    opacity:0.7;
    color:white;
}


.products__content__item_icon{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    position:relative;
}

.products__content__item_label{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.products__content__item_label h4{
    font-size: 3.7vw;
    margin-bottom: 1.4vw;
    color:white;
}
.products__content__item_label button{
    color: white;
}
@media all and (min-width:450px){
  
    .products__header h2{
        font-size: 3.2vw;
        margin-bottom: 1vw
    }

    .products__header__paragraph p{
        opacity:0.7;
        text-align: center;
        font-size: 2.2vw;
        line-height: 2.7vw;
    }
      
    .products__content{
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .products__content__item{
    
        height:150px;
        width: 45%;
        margin-bottom: 0;
        /* margin-left: 5px; */
    }
    
    .products__content__item p{
        text-align: center;
        font-size: 1.2vw;
        line-height: 1.8vw;
        opacity:0.7
    }
    
    .products__content__item_label h4{
        font-size: 1.7vw
    }
    .products__content__item_desc{
        width: 70%;
    }
    .products__content__item_desc button{
        background-color: transparent;
        border: none;
        margin-bottom: .5vw;
        transition: transform .2s ease-out;
        font-size: 1.5vw
    }

    .products__content__item_desc button:hover{
            /* font-size: 1.2vw; */
            cursor: pointer;
            transform: scale(1.1);
    }
    .products__content__item_desc p{
        text-align: center;
        font-size: 1.4vw;
        line-height: 1.8vw;
        opacity:0.7
    }

}

@media all and (min-width:700px){
    
    .products__header{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:60px
    }
  
    .products__header h2{
        font-size: 3.1vw;
        margin-bottom: .8vw
    }

    .products__header__paragraph p{
        opacity:0.7;
        text-align: center;
        font-size: 1.6vw;
        line-height: 2vw;
    }
    
    
    .products__content{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center
    }
    
    .products__content__item{
        height: 250px;
        width: 25%;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5px;
        
    }
    
    .products__content__item p{
        text-align: center;
        font-size: 1.2vw;
        line-height: 1.8vw;
        opacity:0.7
    }
    
    .products__content__item_label h4{
        font-size: 1.5vw
    }
    .products__content__item_desc{
        width: 80%;
    }
    .products__content__item_desc p{
        text-align: center;
        font-size: 1vw;
        line-height: 1.4vw;
        opacity:0.7
    }
    
}

@media all and (min-width:1000px){
    .products{
        padding:80px 120px
      
    }
    .products__content__item_desc button{
        font-size: 1vw;
        width: 50%;
        margin:0 auto;
        margin-bottom: 10px
    }

}