.products{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    background-color: var(--white-color);
    max-width: 1200px;
    margin: 60px auto;
}
.sectionTitle{
    font-size: var(--heading-04);
    color: var(--primary-dark);
}
.sectionSubTitle{
    font-size: var(--bodyText);
    color: rgba(0, 0, 0, 80%);
    font-family: 'IBM Plex sans';
}
.products__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
}

.product_box{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--primary-dark);
    padding: 15px 10px;
    margin: 5px 7px 5px 0;
    flex: 1;
}
.product_header{
    font-size: var(--bodyText);
    font-family: 'IBM Plex mono';
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.product_desc{
    width: 95%;
}
.desc_text{
    font-size: var(--bodyText);
    line-height: var(--bodyTextLineHeight);
}

.products__header__paragraph{
    width: 100%;
}


.products__content{
    display:flex;
    flex-direction: column;
}


@media all and (min-width:450px){
      
    .products__content{
        flex-flow: row wrap;
        justify-content: center;
    }

    .products__header{
        margin-bottom: 70px;
    }


}

@media all and (min-width:700px){
    
    .products__header{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:90px
    }

    .sectionSubTitle{
        width: 40%;
    }
   
    .products__content{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center
    }
    
   
    
    
}

