
.about{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:40px;
}
.about__header{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.about__header h2{
    font-size: 4.5vw
}

.about__content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 50%;

}

.about__content_mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 30%;
    margin-bottom: 10px;
}
.about__content_mission h4{
    font-size: 2.9vw;
    margin-bottom: 0;
}

.about__content_missionParagraph{
    width: 100%;
    padding: 10px;
}
.about__content_missionParagraph p{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3.5vw;
    line-height: 4.7vw
}


.about__content__cardsContainer{
   display: flex;
   flex-direction: column;
    width:100%;
    height: 70%;
    justify-content: space-between;
}

     .about__content__cards_header{  
            display: flex;
            justify-content: center;
            height: 20%;
            width: 100%;
            padding: 10px 0;
        }

 .about__content__cards_header h4{
            margin-bottom: 0;
            font-size: 2.9vw;
        }

.about__content__cards{
    display:flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;

}

.about__content__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    /* height: 150px; */
    box-sizing: border;
    margin-top: 10px;
    -webkit-box-shadow: 10px 8px 16px -13px rgba(0,109,179,0.25);
    -moz-box-shadow: 10px 8px 16px -13px rgba(0,109,179,0.25);
    box-shadow: 10px 8px 16px -13px rgba(0,109,179,0.25);
}

.about__content__card__figure{
    /* border:1px solid black; */
    width:100%;
    height: 50%;
}

.about__content__card__figure__labels{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.about__content__card__figure__labels p{
    font-size:3.5vw;
    padding-bottom: 1vw;
}

@media all and (min-width:450px){


    .about{
        width:100%;
        padding:40px;
    }
    
    .about__header h2{
        font-size: 4vw
    }
    
    .about__content{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 50%;
    
    }
    
    .about__content_mission{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 30%;
        margin-bottom: 10px;
    }
    .about__content_mission h4{
        font-size: 2.9vw;
        margin-bottom: 0;
    }
    
    .about__content_missionParagraph{
        width: 100%;
        padding: 10px;
    }
    .about__content_missionParagraph p{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2.7vw;
        line-height: 3.8vw
    }
    
    
    .about__content__cardsContainer{
       display: flex;
       flex-direction: column;
        width:100%;
        height: 70%;
        justify-content: space-between;
    }
    
         .about__content__cards_header{  
                display: flex;
                justify-content: center;
                height: 20%;
                width: 100%;
                padding: 10px 0;
            }
    
     .about__content__cards_header h4{
                margin-bottom: 0;
                font-size: 2.9vw;
            }
    
    .about__content__cards{
        display:flex;
        height:100%;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .about__content__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 50%;
        box-sizing: border;
        margin: 10px 5px 0 5px
    }
    
   
    

}

@media all and (min-width:700px){
    .about{
        padding: 80px;
    }

}

@media all and (min-width: 1000px){
    .about{
        padding: 80px 150px
    }
    .about__header h2{
        font-size: 3.2vw
    }
.about__content_mission h4{
        font-size: 2vw;
    }
    .about__content__cards_header h4{

        font-size: 2vw;
    }
    
    .about__content_missionParagraph{
        width: 80%;
        margin:0 auto
    }
    .about__content_missionParagraph p{
        font-size: 1.8vw;
        line-height: 2.8vw
    }
    .about__content__cardsContainer{
       display: flex;
       flex-direction: column;
        width:90%;
        margin: 0 auto;
    }

    .about__content__card__figure__labels p{
        font-size:2.8vw;
        padding-bottom: 1vw;
    }
}