.home{
    height: 88vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.background{
    /* color:black; */
    z-index: 10;
}

.atf_text{
    font-family: 'IBM Plex mono';
    font-size: 30px;
    color:var(--primary-dark);
    line-height: 20px;
    font-weight: 500;
}

.top, .bottom{
    display: block;
}


.button{
    background: transparent;
border-radius: 1px;
border: 2px solid var(--accent-color);
color: var(--accent-color);
margin: 0 1em;
padding: 10px 40px;
transition: all .2s ease-in
}
.button:hover{
    border-radius: 3px;
    background-color: var(--accent-color);
}

.button a{
    text-decoration: none;
    color: var(--accent-color);
    transition: color .2s ease-in;
    font-size: var(--bodyText);
}

.button:hover a{
    color: white;
}



.home__body__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height:60vh; */
    /* width: 70vw; */
    margin: 50vh auto;
    justify-content: center;
}

.home__body__content p{
    /* font-size: 5vw; */
    text-align: center;
    /* line-height: 5.5vw; */
    color: white;
    font-weight: 700
}

@media all and (min-width: 500px){
    .home__body__content{
        height: 90%;
    }
    .atf_text{
    font-size: 90px;
    line-height: 115px;
}

.button{
padding: 15px 40px;
}
}