
.inputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 80%;
    box-sizing: border-box;
}

.inputElement:focus{
    outline: none;
    background-color: #ccc;
}


.inValid{
    border:0;
    border-bottom: 2px solid red;
    width:80%
}

.valid{
    outline:none;
    border-bottom: 2px solid green
}