.header{
    width: 83vw;
    height:13vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-content: center;
    margin:20px auto auto;
    float: inline-end;
    /* position:fixed; */
}

.header__logo{
    flex:5;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 70px; */

}
.header__nav li{
    display: none;
}
.header__hamburger{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex:5;
    height: 50%;
    /* border: 1px solid black; */
}

.header__nav li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1.2vw;
    font-size: var(--bodyText);
    color:white;
    transition: transform .1s ease-in-out;
    text-transform: uppercase ;
}
  

@media all and (min-width:600px){

    .header{
        height: 6vw;
        margin-top: 2px;
        background-color: blue;
    }
    
    .header__logo{
        flex:3;
        justify-content: flex-start;
        align-items: center;
    
    }
    .header__nav{
        display:flex;
        justify-content: flex-end;
        flex:7;
        height: 100%;
        /* align-items: center; */
        list-style: none;
        /* border: 1px solid black; */
        margin:0;
        padding:0;
        
    }
    
    .header__nav li{
        /* border:1px solid black; */
        width:20%;
        height: 100%;
        padding:0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header__nav li a{
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 1.2vw;
        color:white;
        transition: transform .1s ease-in-out;
        /* font-size: 2.5vw */
        text-transform: uppercase ;
        /* border:  1px solid red; */
    }

    .header__nav li a:hover {
        transform: scale(1.1);
        color: var(--primary-light)
    }

    .header__hamburger{
        display:none;
    }
    
}

@media all and (min-width:1000px){
    .header__nav li a{
        /* font-size: 2vw */
    }
}