.testimonials{
    display: flex;
    flex-flow: row nowrap;
    /* background-color: bisque; */
    height: 350px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
}

.testimony_card{
    display: flex;
    padding: 10px 20px;
    margin: 10px 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid grey;
    height: 60%;
    position: relative;
    min-width: 400px;
    /* flex: 0 0 auto; */
    
}

.testimony_card::after{
    content: '\201C';
    font-size: 80px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    left: 0;
    height: 30px;
    width: 30px;
    /* border: 1px solid; */
    transform: translateY(-0px) translateX(-10px);
}

.testimony_footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.testimony_content{
    font-size: var(--bodyText);
    line-height: var(--bodyTextLineHeight);
    width: 80%;
    white-space: normal;
}

.author{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
.role{
    font-size: 12px;
}