.footer{
    width: 100%;
    display:flex;
    flex-direction: column;  
    padding:40px 20px;
    background-color: var(--primary-dark);
    flex:1;


}
.footerContent{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigationHeader{
    font-size: var(--bodyText);
    text-transform: uppercase;
}

.footer_logo, .footer_socials,.footer_navigations{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 30px; */
}

.footer_logo_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    /* border: 1px solid; */
}
.logoContainer{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid; */
}
.logoNameContainer{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'IBM Plex serif';
    /* border: 1px solid; */
}
.logoName{
    font-family: 'IBM Plex sans';
    font-size: var(--heading-02);
    color:var(--white-color);
    font-weight: 800;
    margin-bottom: 0;
    /* border: 2px solid; */
}

.footer_socials{
    /* height: 15vw; */
    margin-bottom: 30px;
}
.footer_navigations__header, .footer_socials__header{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.footer_socials__header h3{
    margin-bottom: 16px;
    font-size: 12px;
    text-transform: uppercase;
    color:var(--white-color);
    width: 100%;
    /* transform: translateX(-5px); */
}

.footer_socials__content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding:0;
  
}
.footer_socials__content a{
    text-decoration: none;
    font-size: 3.5vw;
    color:white;
}

.footer_navigations__header h3{
    color:var(--white-color);
    font-size: 12px;
    width: 100%;
    /* transform: translateX(-15px); */
}

.footer_navigations__content{
    width: 100%;
    height:90%
}
.footer_navigations__content ul{
    width: 100%;
    /* border: 1px solid red; */
    list-style: none;
    margin:0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer_navigations__content ul li {
    display: flex;
    margin:0;
    justify-content: flex-start;
    align-items: flex-start;
    flex:.5;
}

.footer_navigations__content ul li a{
    text-decoration: none;
    display:block;
    width: 50%;
    text-align: left;
    font-size: var(--bodyText);
    line-height: var(--bodyTextLineHeight);
    cursor: pointer;
    color:white;
}

.footer_terms{
    font-family: 'IBM Plex mono';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    font-size: 12px;
}

.footer_terms p{
    color:white;
    text-align: center;
    opacity:.7;
    /* margin-bottom: 10px; */
}


.footer__header__logo{
    flex:4;
    /* border: 1px solid black; */
    height: 100%;
}
.footer__header__socials{
    flex:3;
    height: 100%;
}

.footer__header__navigations{
    flex:3;
    height: 100%;
    display: flex;
    justify-content: center;
}
.footer__header__navigations__container{
    width:50%;
    height: 100%
}

.footer__header__navigations__container ul{
    list-style: none;
    box-sizing: border-box;
    width: 100%;
}
.footer__header__navigations__container ul li{
    /* border: 1px solid black; */
    box-sizing: border-box;
}


.footer__header__navigations__container ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.footer__content{
    width: 80%;
    display:flex;
    justify-content: center;
}

.link{
    color: var(--accent-color);
    text-decoration: none;
}





@media all and (min-width:450px){
    .footer{
        width: 100%;
        display:flex;
        flex-flow: row wrap;
        padding:40px;
        flex:1;
    
    }
    /* .bottom{
        display: flex;
        width: 100%;
    }
    */
    
    
    .footer_logo, .footer_socials,.footer_navigations{
        display:flex;
        flex-direction: column;
        /* border: 1px solid black */
    }
    .footer_logo{
     width: 40%;
     height: 100%;    
    }
    
    .footer_logo_content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: 1px solid; */
        height: 20%;
    }
    
    .footer_socials{
        width: 30%;
        height: 150px;
    }
    
    .footer_socials__content{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .footer_navigations{
        height: 100%;
        width: 30%
    }
    
    .footer_terms{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_navigations__header, .footer_socials__header{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    
    .footer_navigations__content{
        width: 100%;
        height:90%
    }
    .footer_navigations__content ul{
        width: 100%;
        list-style: none;
        margin:0;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer_navigations__content ul li {
        display: flex;
        margin:0;
        justify-content: flex-start;
        align-items: center;
        flex:.5;
        width: 100%;
    }
    
    .footer_navigations__content ul li a{
        text-decoration: none;
        display:block;
        width: 50%;
        text-align: left;
    }
    
    .footer_terms{
        width:100%;
    }
    
}
    
    
 @media all and (min-width:800px){
   
    .footer_navigations__content ul li{
        margin-bottom: 1vw;
    }
   
}
    
@media all and (min-width:1000px){
    .footer{
        padding: 40px 100px;
    }
}
    
    
    
/*     
    .footer__header__logo{
        flex:4;
        border: 1px solid black;
        height: 100%;
    }
    .footer__header__socials{
        flex:3;
        height: 100%;
    }
    
    .footer__header__navigations{
        flex:3;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .footer__header__navigations__container{
        width:50%;
        height: 100%
    }
    
    .footer__header__navigations__container ul{
        list-style: none;
        box-sizing: border-box;
        width: 100%;
    }
    .footer__header__navigations__container ul li{
        border: 1px solid black;
        box-sizing: border-box;
    }
    
    
    .footer__header__navigations__container ul li a{
        display: block;
        text-decoration: none;
        text-align: center;
    }
    
    .footer__content{
        width: 80%;
        display:flex;
        justify-content: center;
    }
} */