.footer{
    width: 100%;
    display:flex;
    flex-direction: column;  
    padding:40px 20px;
    background-color: var(--primary-dark);
    flex:1

}


.footer_logo, .footer_socials,.footer_navigations{
    display:flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-bottom: 5px;
}
.footer_logo{
    height: 15vw;
    
}
.footer_logo_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* border: 1px solid; */
    height: 100%;
}
.footer_logo_content h2{
    margin-bottom: 0;
    font-size: 3.7vw;
    color:white;
}
.footer_socials{
    /* flex:2; */
    height: 15vw;

}
.footer_navigations__header, .footer_socials__header{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_socials__header h3{
    margin-bottom: 1vw;
    font-size: 4vw;
    /* padding: 1.5vw; */
    color:white;
    /* letter-spacing: .1vw */
}

.footer_socials__content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding:0
}
.footer_socials__content a{
    text-decoration: none;
    font-size: 3.5vw;
    color:white;
}
.footer_navigations{
    /* flex:6; */

}

.footer_navigations__header h3{
    font-size: 4vw;
    margin-bottom: 1vw;
    color:white;
}

.footer_navigations__content{
    width: 100%;
    height:90%
}
.footer_navigations__content ul{
    width: 100%;
    /* border: 1px solid red; */
    list-style: none;
    margin:0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer_navigations__content ul li {
    /* border: 1px solid black; */
    display: flex;
    margin:0;
    /* padding:10px; */
    justify-content: flex-start;
    align-items: center;
    flex:.5;
}

.footer_navigations__content ul li a{
    text-decoration: none;
    /* padding: 5px; */
    /* border:1px solid red; */
    display:block;
    width: 50%;
    /* text-align: center; */
    font-size: 3.5vw;
    cursor: pointer;
    color:white;
}

.footer_terms{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
}

.footer_terms p{
    color:white;
    font-size: 4w
}


.footer__header__logo{
    flex:4;
    /* border: 1px solid black; */
    height: 100%;
}
.footer__header__socials{
    flex:3;
    height: 100%;
}

.footer__header__navigations{
    flex:3;
    height: 100%;
    display: flex;
    justify-content: center;
}
.footer__header__navigations__container{
    width:50%;
    height: 100%
}

.footer__header__navigations__container ul{
    list-style: none;
    box-sizing: border-box;
    width: 100%;
}
.footer__header__navigations__container ul li{
    /* border: 1px solid black; */
    box-sizing: border-box;
}


.footer__header__navigations__container ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.footer__content{
    width: 80%;
    display:flex;
    justify-content: center;
}


@media all and (min-width:450px){
    .footer{
        width: 100%;
        display:flex;
        flex-flow: row wrap;
        padding:40px;
        flex:1;
    
    }
   
    
    
    .footer_logo, .footer_socials,.footer_navigations{
        display:flex;
        flex-direction: column;
        /* border: 1px solid black */
    }
    .footer_logo{
width: 40%;
height: 100%;
        
    }
    
    .footer_logo_content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: 1px solid; */
        height: 20%;
    }
    .footer_socials__content a{
        font-size: 2.2vw;
    }
    .footer_logo_content h2{
        margin-bottom: 1vw;
        font-size: 2.2vw;

    }
    .footer_socials{
        width: 30%;
        height: 150px;
    
    }
    
    .footer_socials__content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer_navigations{
        height: 100%;
        width: 30%
    }
    
    .footer_terms{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_navigations__header, .footer_socials__header{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_socials__header h3, .footer_navigations__header h3{
        font-size: 2.2vw;
    }
    
    .footer_navigations__content{
        width: 100%;
        height:90%
    }
    .footer_navigations__content ul{
        width: 100%;
        /* border: 1px solid red; */
        list-style: none;
        margin:0;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .footer_navigations__content ul li {
        /* border: 1px solid black; */
        display: flex;
        margin:0;
        /* padding:10px; */
        justify-content: center;
        align-items: center;
        flex:.5;
    }
    
    .footer_navigations__content ul li a{
        text-decoration: none;
        /* padding: 5px; */
        /* border:1px solid red; */
        display:block;
        width: 50%;
        text-align: center;
        font-size: 2.2vw;
    }
    
    .footer_terms{
        width:100%;
    }
    
}
    
    
 @media all and (min-width:800px){
    .footer_socials__header h3,.footer_navigations__header h3{
        font-size: 1.8vw;
        margin-bottom: 4vw
    }
    .footer_navigations__content ul li{
        margin-bottom: 1vw;
    }
    .footer_navigations__content ul li a{
        font-size: 1.6vw;
    }
    .footer_terms{
        font-size: 1.8vw
    }
}
    
@media all and (min-width:1000px){
    .footer{
        padding: 80px 120px;
    }
}
    
    
    
/*     
    .footer__header__logo{
        flex:4;
        border: 1px solid black;
        height: 100%;
    }
    .footer__header__socials{
        flex:3;
        height: 100%;
    }
    
    .footer__header__navigations{
        flex:3;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .footer__header__navigations__container{
        width:50%;
        height: 100%
    }
    
    .footer__header__navigations__container ul{
        list-style: none;
        box-sizing: border-box;
        width: 100%;
    }
    .footer__header__navigations__container ul li{
        border: 1px solid black;
        box-sizing: border-box;
    }
    
    
    .footer__header__navigations__container ul li a{
        display: block;
        text-decoration: none;
        text-align: center;
    }
    
    .footer__content{
        width: 80%;
        display:flex;
        justify-content: center;
    }
} */