

.body{
    display:flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 10px;
}

/* imported */

.about{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:100%;
    /* padding:40px; */
}

.about__header h2{
    font-size: 4.5vw
}

.about__content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 50px auto;
    max-width: 1440px;
    /* height: 50%; */

}
.missionHeader{
    font-size: var(--heading-03);
    font-weight: 700;
}
.teamHeader{
    font-size: var(--heading-03);
    font-weight: 700;
}
.missionText{
    font-size: var(--bodyText);
    line-height: var(--bodyTextLineHeight);
}

.about__content_mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 30%;
    margin-bottom: 10px;
    max-width: 600px;
}


.about__content_missionParagraph{
    width: 90%;
    padding: 10px;
    text-align: center;
}


.about__content__cardsContainer{
   display: flex;
   flex-direction: column;
    width:100%;
    height: 70%;
    justify-content: space-between;
    max-width: 1000px;
}

     .about__content__cards_header{  
            display: flex;
            justify-content: center;
            height: 20%;
            width: 100%;
            padding: 10px 0;
        }



@media all and (min-width:450px){


    .about{
        width:100%;
        padding:40px;
    }
    
    
    .about__content{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 50%;
    
    }
    
    .about__content_mission{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30%;
        margin-bottom: 10px;
    }

    
    .about__content_missionParagraph{
        width: 60%;
        padding: 10px;
        text-align: center;
    }
    
    
    .about__content__cardsContainer{
       display: flex;
       flex-direction: column;
        width:100%;
        height: 70%;
        justify-content: space-between;
    }
    
         .about__content__cards_header{  
                display: flex;
                justify-content: center;
                height: 20%;
                width: 100%;
                padding: 10px 0;
            }
    
    
    .about__content__cards{
        display:flex;
        height:100%;
        width: 100%;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    
    .about__content__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 50%;
        box-sizing: border;
        margin: 10px 5px 0 5px
    }
    
}

@media all and (min-width:700px){

    .about{
        padding: 80px;
    }

}

@media all and (min-width: 1000px){
    .about{
        padding: 80px 150px
    }
   
    
    .about__content_missionParagraph{
        width: 80%;
        margin:0 auto
    }

    .about__content__cardsContainer{
       display: flex;
       flex-direction: column;
        width:90%;
        margin: 0 auto;
    }

    
}