.header{
    display: flex;
width: 100%;
height: 270px;
background-color: var(--primary-dark);
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.header_title{
    font-size: var(--heading-05);
    color: var(--white-color);
    }

 .header_subTitle{
        font-size: var(--subHeading);
        line-height: var(--subHeadingLineHeight);
        color:var(--white-color);
        width: 90%;
    }

.body{
    display: flex;
    max-width: 800px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px auto;
    padding: 0 10px;
}

.termsText{
    font-size: var(--bodyText);
}

.rtText{
    font-size: var(--bodyText);
    line-height: var(--bodyTextLineHeight);
}
.rtBody{
    font-size: var(--bodyText);
    font-weight: 500;
}