
.instaLink{
    padding:0;
    margin: 0;
    padding:5px;
    text-align: center;
}

.insta{
    fill: black;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    width: 25px;
}

.instaLink:hover .insta{
    fill: black;
    opacity: 1;
}

@media all and (min-width:700px){

    .insta{
        width:35px;
    }
}


