.display{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding:40px;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    background-color: whitesmoke;
}

.display_header{
    display: flex;
    justify-content: flex-start;
    /* border:1px solid; */
    width:80%
}
.display_header h3{
    text-transform: capitalize;
    font-size: 4vw
}

        .display_header__button{
            border:2px solid black;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            padding:10px;
            font-size: 3vw;
            cursor: pointer;
            margin: 0 0 0 240px
           
        }
       
.display_description{
    width: 80%;
    box-sizing: border-box;
    margin: 10px 0
}
.display_description p{
    width:100%;

}
.display_list{
    width:80%;

}

@media all and (min-width:500px){
    .display{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding:40px;
        justify-content: center;
        position: absolute;
        top:0;
        left:0;
        z-index:2;
        background-color: whitesmoke;
    }
    
    .display_header{
        display: flex;
        justify-content: space-between;
        /* border:1px solid; */
        width:80%
    }
    .display_header h3{
        text-transform: capitalize;
    }
            .display_header__button{
                border:2px solid black;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                padding:10px;
                font-size: 2vw;
                cursor: pointer;
            }
    .display_description{
        width: 80%;
        box-sizing: border-box;
        margin: 10px 0
    }
    .display_description p{
        width:80%;
    
    }
    .display_list{
        width:80%;
    
    }
}